<div class="jumbotron mt-5">
  <h1><%= @author.email %></h1>
  <p class="lead">Welcome to the <%= @author.email %> profile</p>
</div>

<h4 class="mb-5">Last posts <span class="badge badge-secondary"><%= @author.post.count %></span></h4>

<div class="row col-sm-12 mb-5">
<% @author.post.each do |post| %>
<div class="col-sm-3">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title"><%= post.title %></h5>
      <p class="card-text"><%= post.content %></p>
      <%= link_to 'Show', post %>
    </div>
  </div>
</div>
<% end %>
</div>
<hr />
<h4 class="mt-3 mb-5">Last comments <span class="badge badge-secondary"><%= @author.comment.count %></span></h4>
<div class="list-group">
  <% @author.comment.each do |comment| %>
  <a href="<%= url_for post_path(comment.post.id) %>" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1"><%= @author.email %></h5>
      <small><%= local_time_ago(comment.updated_at) %></small>
    </div>
    <p class="mb-1"><%= comment.content %></p>
    <small><span class="badge badge-primary"><%= comment.post.title %></span></small>
  </a>
    <% end %>
</div>