<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to t(:home), controller: 'posts', action: 'index' %></li>
    <li class="breadcrumb-item"><%= link_to t(:posts), controller: 'posts', action: 'index' %></li>
    <li class="breadcrumb-item active" aria-current="page"><%= t(:new) %></li>
  </ol>
</nav>

<%= simple_form_for @post do |f| %>

  <%= f.input :title %>
  <%= f.input :content %>
  <%= f.input :status, label: 'Brouillon' %>
  <%= f.button :submit %>

<% end %>