<div class="jumbotron">
  <h1><%= t(:posts) %></h1>
</div>

<div class="row col-sm-12">
  <div class="col-sm-3">
    <div class="card text-white bg-primary">
      <div class="card-body">
        <h5 class="card-title"><%= t(:createYourOwnPost) %></h5>
        <p class="card-text">Lorem ipsum</p>
        <p class="card-text"><%= link_to t(:new), new_post_path(locale: params[:locale]), class: 'text-white' %></p>
      </div>
    </div>
  </div>
  <% @posts.each do |post| %>
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><%= post.title %></h5>
          <p class="card-text"><%= post.content %></p>
          <%= link_to t(:show), post_path(id: post.id, locale: params[:locale]) %>
        </div>
      </div>
    </div>
  <% end %>
</div>