<!DOCTYPE html>
<html>
  <head>
    <title>BlogApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-light bg-light">
        <div class="container">
          <%= link_to 'BlogApp', root_path(locale: params[:locale]) %>
          <ul class="navbar-nav">
            <li class="nav-item active">
              <% if user_signed_in? %>

                  <%= link_to t(:myAccount), edit_user_registration_path(locale: params[:locale]) %>

              <% else %>

                  <%= link_to t(:login), new_user_session_path(locale: params[:locale]) %>

              <% end %>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <main class="container mt-5 mb-5">
      <%= yield %>
    </main>
  </body>
</html>